<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_customer_save_after">
        <observer name="coins" instance="Kirill\Coins\Observer\CustomerSaveAfterObserver"/>
    </event>
    <event name="checkout_submit_all_after">
        <observer name="save_checkout_submit_all_after" instance="Kirill\Coins\Observer\SaveCoinsFromOrder" />
        <observer name="waste_checkout_submit_all_after" instance="Kirill\Coins\Observer\WasteCoinsFromOrder" />
    </event>
</config>
